html
    head
        title #{title} | FbAnonChat

        block header
            script(src='/bower/jquery/dist/jquery.min.js')
            script(src='/socket.io/socket.io.js')
            link(rel='stylesheet', href='/public/css/main.css')
    body
        block container
