#!/usr/bin/env bash


# Fb application settings
export FB_CLIENT_ID="xxxxxx"
export FB_CLIENT_SECRET="xxxxxx"
export FB_CALLBACK_URL="http://localhost:4200/auth/facebook/callback"

# ExpressJS settings
export SERVER_PORT=4200
